<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        {% if page.layout == 'tags_list' %}
            {{ page.tag_name }} |
        {% endif %}
        {{ site.title }}
    </title>
    <meta name="title" content="{{ site.meta_title_content }}" >
    <meta name="description" content="{{ site.description }}">

    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}">

    <link rel="stylesheet" type='text/css' href="{{ '/assets/main.css' | relative_url }}"/>

    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}" />

    {% feed_meta %}

    {% include head/social_meta.html %}

    {% include head/scripts.html %}
    
</head>
