<article class="post post-summary">

    <header class="post-header">
        <h2 class="post-title">
            <a href="{{ post.url | relative_url }}">
                {{ post.title }}
            </a>
        </h2>

        <p class="post-info">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <time datetime="{{ post.date | date: '%Y/%m/%d' }}">
                {{ post.date | date_to_string }}
            </time>
            &#160;
            <i class="fa fa-commenting" aria-hidden="true"></i>
            <a class="comment-count" href="{{ post.url | relative_url }}#disqus_thread" 
            data-disqus-identifier='{{ site.disqus_identifier_prefix }}{{ post.url | absolute_url }}/'>Comments</a>
            &#160;
        </p>

        {% include post_tags.html %}

    </header>

    <section class="post-excerpt">
        {{ post.content | strip_html | truncatewords: 200 }}
    </section>

</article>