{% assign tags_size = post.tags | size %}

{% if tags_size != 0 %}

    <div class="post-tags">
        
        <i class="fa fa-tag"></i>

        {% assign last_tag = post.tags | last %}
        {% for tag_name in post.tags %}
            {% assign tag_slug = tag_name | slugify  %}
            {% if tag_name != last_tag %}
                <a class="tag-link" href="{{ site.baseurl }}/tag/{{ tag_slug }}">{{tag_name}}</a>,
            {% else %}
                <a class="tag-link" href="{{ site.baseurl }}/tag/{{ tag_slug }}">{{tag_name}}</a>
            {% endif %}
        {% endfor %}
    </div>

{% endif %}