.articles-summary {

    &__heading {
        color: #545454;
        img {
            margin-right: 16px;
            height: 25px;
        }
        @supports(display: flex){
            display: flex;
            align-items: center;
            img {
                height: auto;
            }
        }
        &--list {
            font-size: 32px;
        }
    }

    &__date {
        color: #bebebe;
        font-size: 18px;
    }

    &__summary {
        font-size: 20px;
        color: #545454;
        line-height: 30px;
        margin-bottom: 30px;
        @media screen and (max-width: 480px){
            margin-bottom: 20px;
        }
    }

    &__author {
        float: left;
        @media screen and (max-width: 480px){
            margin-bottom: 12px;
            display: block;
            width: 100%;
        }
    }

    &__tags {
        float: right;
        @media screen and (max-width: 480px){
            display: block;
            width: 100%;
        }
    }

    &__meta {
        font-size: 18px;
        color: #545454;
        overflow: hidden;
        padding-bottom: 40px;
        border-bottom: 1px solid #e5e5e5;

        @supports(display: flex){
            overflow: visible;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 480px) {
                flex-direction: column;
            }
        }
    }


    &__tag {
        font-size: 18px;
        color: #545454;
        text-decoration: none;
        display: inline-block;
        background-color: #f6f6f6;
        border: 1px solid #d9d9d9;
        border-radius: 1px;
        padding: 0 10px;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__content {
        font-size: 18px;
        line-height: 30px;
        padding: 30px 0;

        p,
        ul,
        ol {
            font-size: 18px;
            line-height: 30px;
        }
    }

    &__list {
        font-size: 18px;
        line-height: 30px;
        
        p,
        a {
            font-size: 18px;
            line-height: 30px;
        }

        a {
            color: #545454;
        }
    }

}