.blog-nav {
    text-align: center;
    margin-top: 12px;
}

.blog-info {
    margin: 0 auto;
    padding: 2em 0 1em;
}

.blog-title,
.blog-links,
.blog-description {
    text-align: center;
}

.blog-links {
    margin-bottom: .2em;
}