.blog-nav {
    text-align: center;
    margin-top: 12px;
}

.blog-nav a {
    color: #272A47;
}

.blog-nav__item {
    padding-bottom: 3px;
    &:hover {
        text-decoration: none;
        color: #444;
        border-bottom: 1px solid #444;
    }
}

.blog-nav__item--active {
    color: #444;
    border-bottom: 1px solid #444;
}

.blog-info {
    margin: 0 auto;
    padding: 2em 0 1em;
}

.social-link {
  width: 36px;
  height: 36px;
}

.blog-title,
.blog-links,
.blog-description {
    text-align: center;
}

.blog-description {
  font-size: 1em;
}

.blog-links {
    margin-bottom: .2em;
}
