@media screen and (min-width:650px) {
    site-logo {
        width: 25%;
        height: 25%;
    }
}

@media screen and (min-width:985px) {
    site-logo {
        width: 25%;
        height: 25%;
    }    
}

@media screen and (min-width:1300px) {
    site-logo {
        width: 13%;
        height: 13%;
    }
}
