.page {
    padding: 0 2em;
    margin: 0 auto;
}

.subscribe-btn {
    position: relative
}

.subscribe-text {
    font-size: 1.2em
}

.subscribe-heading {
    text-align: center;
    color: #0074d9
}

.subscribe-btn {
    margin: 25px -50px;
    top: 50%;
    left: 50%;
    font-size: 28px;
    font-weight: 400
}