.post {
    padding: 0 2em;
    // @include breakpoint(small){
    //    width: 600px; 
    // }
    // @include breakpoint(medium){
    //    width: 800px; 
    // }
    // @include breakpoint(large){
    //    width:960px; 
    // }
}


.post-info {
    color: #999;
    margin-bottom: .4em;
}

.post-header {
    margin-bottom: 1.6em;
}