@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700);

a,
a img,
blink,
img,
ins,
mark {
    text-decoration: none
}

*,
.col,
.row {
    box-sizing: border-box
}

hr,
input[type=search] {
    box-sizing: content-box
}

html {
    font-variant: normal;
    font-stretch: normal
}

figure img,
table {
    width: 100%
}

body,
html {
    line-height: 1.4
}

.row,
.row.reverse {
    -webkit-box-orient: horizontal
}

a img,
img {
    border: 0
}

.row {
    display: inherit;
    -webkit-box-direction: normal;
    flex-flow: row wrap
}

article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

a,
abbr,
acronym,
address,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
    background: 0 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    vertical-align: baseline;
    white-space: normal
}

table tbody tr td,
td,
textarea {
    vertical-align: top
}

applet,
basefont,
dir,
font,
isindex,
menu,
s,
strike,
u {
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: inherit;
    text-align: left;
    vertical-align: baseline;
    white-space: normal
}

cite,
dfn,
em,
i {
    font-style: italic
}

address,
html,
var {
    font-style: normal
}

dir,
menu {
    list-style: none
}

nobr {
    white-space: normal
}

marquee {
    overflow: visible
}

body {
    background: #fff;
    -webkit-tap-highlight-color: rgba(255, 0, 0, .619608)
}

mark {
    padding: 0 .25em
}

h4 {
    margin-bottom: 1em
}

h5 {
    margin-bottom: 1.14286em
}

h6 {
    margin-bottom: 1.33333em
}

address,
blockquote,
code,
dialog,
dl,
label,
ol,
p,
pre,
td,
th,
ul {
    font-size: .9em;
    line-height: 1.6em;
    margin-bottom: 1.6em
}

dialog,
dl,
dl dd,
ol,
ul {
    margin-left: 1.6em
}

a:hover {
    color: #313131
}

b,
caption,
dt,
legend,
strong,
th,
thead {
    font-weight: 700
}

p code,
p pre,
p var {
    line-height: 1.2em
}

pre {
    word-wrap: break-word
}

dialog,
dl,
ol,
ul {
    list-style: none inside
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li ol,
li ul {
    margin: 1em 1.6em 0
}

li ul {
    list-style-type: circle
}

li ol {
    list-style-type: lower-alpha
}

blockquote::after,
blockquote::before,
q::after,
q::before {
    content: none
}

blockquote {
    padding-left: 1.6em
}

blockquote>p,
legend,
pre>code {
    padding: 0
}

abbr,
acronym,
dfn {
    font-size: 80%;
    letter-spacing: .1em;
    line-height: 1.2
}

abbr[title],
acronym[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

ins {
    color: red
}

del {
    text-decoration: line-through
}

embed,
img,
object,
video {
    max-width: 100%
}

img::selection {
    background: 0 0
}

figure figcaption {
    background: #eee;
    border-left: 5px solid #999;
    margin-bottom: 0;
    padding: .4em .8em
}

tr {
    display: table-row
}

th {
    vertical-align: bottom
}

td form {
    border-bottom: none;
    padding-bottom: 0
}

[disabled],
button[disabled],
html input[disabled] {
    cursor: default
}

code,
pre,
tt {
    white-space: pre-wrap
}

[hidden],
template {
    display: none
}

:focus,
a:active,
a:hover {
    outline: 0
}

h1,
h2 {
    font-weight: 200
}

blockquote p:last-child,
body>header p,
pre code {
    margin-bottom: 0
}

table td,
table th {
    border: none;
    word-break: break-word
}

table td a,
table th a {
    cursor: pointer
}

table th {
    padding: 0 13px 5px
}

table td {
    padding: 5px 13px
}

table tbody tr:nth-child(2n+1) {
    background-color: #fcfcfc
}

figure,
table tbody tr td {
    margin: 0
}

table thead th {
    border: none;
    text-align: left
}

img,
legend {
    border: 0
}

table,
td,
th {
    border: 1px solid #ccc
}

code,
tt {
    font-family: Inconsolata, monospace, sans-serif;
    font-size: .85em
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

a {
    background: 0 0;
    color: #2380fb;
}

a:focus {
    outline: dotted thin
}

abbr[title] {
    border-bottom: 1px dotted
}

hr {
    height: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    margin: 1.5rem 0;
    border-bottom: 1px solid #ccc;
    top: -1px
}

mark {
    background: #ff0
}

q {
    quotes: "“" "”" "‘" "’"
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,
input {
    line-height: normal
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto
}

html {
    font-size-adjust: 100%;
    font-weight: 400;
    font-size: 16px;
    font-family: Inconsolata, sans-serif
}

body {
    margin: 0 0 0rem;
    color: #333
}

a:focus,
a:hover {
    text-decoration: underline
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .5rem -.1rem;
    line-height: 1;
    color: #111;
    text-rendering: optimizeLegibility
}

h2,
h3,
h4,
h5,
h6 {
    color: #444
}

h2 {
    margin-top: 2rem;
    margin-bottom: .75rem;
    font-size: 1.5rem
}

h3,
h4,
h5,
h6 {
    margin-top: 1.5rem
}

blockquote,
dl,
ol,
p,
pre,
table,
ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ol,
ul {
    padding-left: 1.5rem
}

dd {
    margin-left: 1.5rem
}

blockquote {
    margin-left: 2em;
    margin-right: 0;
    padding: .5rem 1rem;
    border-left: .25rem solid #ccc;
    color: #666
}

td,
th {
    display: table-cell;
    padding: .25rem .5rem
}

h3 {
    font-size: 1.4rem
}

h4 {
    font-size: 1.2rem
}

h5 {
    font-size: 1rem
}

h6 {
    font-size: .9rem
}

code,
tt {
    padding: .2rem 0 .1rem;
    border-radius: 2px;
    color: #e01616
}

body {
    font-size: 100%
}

img[src$=centerme] {
    display: block;
    margin: 0 auto;
    min-width: 70%
}

li {
    font-size: 1em;
    margin-bottom: .1em
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

h1 {
    font-size: 1.5rem;
    margin-bottom: .7rem
}

h1 a {
    color: inherit
}

@media (min-width:30rem) {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem
    }
    h2 {
        margin-top: 2.5rem;
        font-size: 1.8rem;
        margin-bottom: 1rem
    }
}
