.post-tags {
    color: #999;
}

.tags-list {
    text-align: center;
}

.tags-list__tag-name {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    padding: .2em;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}

.posts-nav {
    overflow: hidden;
	.go-to {
		font-weight: bold;
		margin-top: 1.5em;
	}
	.left-post {
		float: left;
	}
	.right-post {
		float: right;
	}
}