.col,
.row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.row,
.row.reverse {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal
}

a img,
img {
    -ms-interpolation-mode: bicubic;
    border: 0
}

.alert,
.alert .alert-body,
.box,
.form select,
form select,
sub,
sup {
    position: relative
}

.grid {
    padding-right: 2rem;
    padding-left: 2rem
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inherit;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.row.reverse {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}

.col,
.col.reverse {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical
}

.col {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%;
    padding-right: .5rem;
    padding-left: .5rem
}

.col.reverse {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}

.col-xs-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%
}

.col-xs-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%
}

.col-xs-3 {
    flex-basis: 25%;
    max-width: 25%
}

.col-xs-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.col-xs-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%
}

.col-xs-6 {
    flex-basis: 50%;
    max-width: 50%
}

.col-xs-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.col-xs-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.col-xs-9 {
    flex-basis: 75%;
    max-width: 75%
}

.col-xs-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.col-xs-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.col-xs-12 {
    flex-basis: 100%;
    max-width: 100%
}

.col-xs-offset-1 {
    margin-left: 8.33333333%
}

.col-xs-offset-2 {
    margin-left: 16.66666667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.33333333%
}

.col-xs-offset-5 {
    margin-left: 41.66666667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.33333333%
}

.col-xs-offset-8 {
    margin-left: 66.66666667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.33333333%
}

.col-xs-offset-11 {
    margin-left: 91.66666667%
}

.start-xs {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start
}

.center-xs {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center
}

.end-xs {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end
}

.top-xs {
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.middle-xs {
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.bottom-xs {
    -webkit-box-align: end;
    -moz-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.around-xs {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

.between-xs {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.first-xs {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1
}

.last-xs {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1
}

.col-right {
    float: right;
    padding: 0 0 0 1rem
}

.col-left {
    float: left;
    padding: 0 1rem 0 0
}

.gutter {
    margin: .5rem
}

.gutter-horizontal {
    margin-left: .5rem;
    margin-right: .5rem
}

.gutter-vertical {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.gutter-top {
    margin-top: 1rem
}

.gutter-right {
    margin-right: 1rem
}

.gutter-bottom {
    margin-bottom: 1rem
}

.inline-scroll input,
.inline-scroll>li form,
.pagination input,
.pagination>li form,
li label,
li:last-child,
td form,
ul.inline input,
ul.inline>li form {
    margin-bottom: 0
}

.gutter-left {
    margin-left: 1rem
}

.internal-gutter {
    padding: .5rem
}

.internal-gutter-horizontal {
    padding-left: .5rem;
    padding-right: .5rem
}

.internal-gutter-vertical {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.internal-gutter-top {
    padding-top: 1rem
}

.internal-gutter-right {
    padding-right: 1rem
}

.internal-gutter-bottom {
    padding-bottom: 1rem
}

.internal-gutter-left {
    padding-left: 1rem
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.alert,
.pagination>li a {
    -webkit-border-radius: 5px
}

cite,
dfn,
em,
i {
    font-style: italic
}

dir,
menu {
    list-style: none
}

nobr {
    white-space: normal
}

marquee {
    overflow: visible
}

body {
    background: #fff;
    -webkit-tap-highlight-color: rgba(255, 0, 0, .62)
}

mark {
    padding: 0 .25em
}

.inline-scroll,
.pagination,
dialog,
dl,
hr,
ol,
ul,
ul.inline {
    padding: 0
}

.form select[multiple],
.form select[size],
.form textarea,
figure img,
form select[multiple],
form select[size],
form textarea { 
    color: #333;
}

a {
    height: auto
}

.test {
    background: #edd
}

h4 {
    margin-bottom: 1em
}

h5 {
    margin-bottom: 1.14285714em
}

h6 {
    margin-bottom: 1.33333333em
}

p.small,
small {
    font-size: 80%;
    line-height: 1.2;
    margin: 0
}

a:hover {
    color: #313131
}

address,
var {
    font-style: normal
}

pre {
    word-wrap: break-word
}

dialog,
dl,
ol,
ul {
    list-style: none inside
}

li {
    font-size: 1em;
    margin-bottom: .1em
}

li ol,
li ul {
    margin: 1em 1.6em 0
}

li ul {
    list-style-type: circle
}

li ol {
    list-style-type: lower-alpha
}

.inline-scroll,
.pagination,
nav ul li,
ul.inline {
    margin-left: 0
}

.titlecase {
    text-transform: capitalize
}

.lowercase {
    text-transform: lowercase
}

.uppercase,
abbr,
acronym,
dfn {
    text-transform: uppercase
}

ul.unstyled-list {
    margin-left: 0;
    padding: 0
}

ul.unstyled-list li {
    display: block;
    list-style: none
}

.inline-scroll>li,
.inline-scroll>li>*,
.pagination>li,
.pagination>li>*,
ul.inline>li,
ul.inline>li>* {
    display: inline-block
}

ul.inline .radius>:first-child,
ul.inline .radius>:first-child>.button,
ul.inline .radius>:first-child>a,
ul.inline .radius>:first-child>button {
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-topleft: 5px;
    -moz-background-clip: padding;
    border-top-left-radius: 5px;
    background-clip: padding-box
}

ul.inline .radius>:last-child,
ul.inline .radius>:last-child>.button,
ul.inline .radius>:last-child>a,
ul.inline .radius>:last-child>button {
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-topright: 5px;
    -moz-background-clip: padding;
    border-top-right-radius: 5px;
    background-clip: padding-box
}

.inline-scroll {
    overflow-x: auto;
    white-space: nowrap
}

.pagination>li:hover a {
    background: #eee
}

.pagination>li a {
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    display: block;
    padding: .1rem .75rem
}

.pagination>li a.selected {
    background: #0049cc;
    color: #fff;
    cursor: default;
    font-weight: 700
}

blockquote,
cite,
q {
    font-style: italic;
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

blockquote {
    padding-left: 1.6em
}

blockquote>p {
    padding: 0
}

abbr,
acronym,
dfn {
    font-size: 80%;
    letter-spacing: .1em;
    line-height: 1.2
}

abbr[title],
acronym[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help
}

ins {
    color: red
}

del {
    text-decoration: line-through
}

embed,
img,
object,
video {
    max-width: 100%
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

img.no-max {
    max-width: none
}

.container iframe,
.container img,
figure,
table {
    max-width: 100%
}

figure img {
    width: 100%
}

figure figcaption {
    background: #eee;
    border-left: 5px solid #999;
    margin-bottom: 0;
    padding: .4em .8em
}

::-moz-selection,
::selection {
    background: #c47529;
    color: #fff;
    text-shadow: none
}

table .striped>tbody>tr:nth-child(odd)>td {
    background: #f0f0f0
}

tr {
    display: table-row
}

tr .success td {
    background-color: #2ecc71
}

tr .success-dark td {
    background-color: #27ad60
}

tr .info td {
    background-color: #3498db
}

tr .info-dark td {
    background-color: #2383c4
}

tr .warning td {
    background-color: #f1c40f
}

tr .warning-dark td {
    background-color: #cea70c
}

tr .danger td {
    background-color: #e74c3c
}

tr .danger-dark td {
    background-color: #dc2d1b
}

tr .danger td a,
tr .danger-dark td a,
tr .info td a,
tr .info-dark td a,
tr .success td a,
tr .success-dark td a,
tr .warning td a,
tr .warning-dark td a {
    color: #fff;
    text-decoration: underline
}

td,
th {
    display: table-cell
}

th {
    vertical-align: bottom
}

td {
    vertical-align: top
}

td form {
    border-bottom: none;
    padding-bottom: 0
}

[hidden] {
    display: none
}

:focus {
    outline: 0
}

figure.col {
    padding-left: 0
}

figure.col-inverse {
    padding-right: 0
}

.alert {
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    margin-top: 1rem
}

.alert .alert-body,
.alert .alert-footer,
.alert .alert-header {
    padding: .5rem
}

.alert .alert-body>*,
.alert .alert-footer>*,
.alert .alert-header>* {
    padding: 0;
    margin: 0
}

.alert .alert-header {
    border-bottom: 1px solid transparent;
    min-height: 14px
}

.alert .alert-footer {
    border-top: 1px solid transparent;
    text-align: right;
    font-style: italic
}

.box {
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid transparent;
    outline: 0;
    padding: 5px
}

.box>* {
    margin: 0
}

.success {
    color: #2ecc71
}

.info {
    color: #dbc034
}

.warning {
    color: #f1c40f
}

.danger {
    color: #e74c3c
}

.submit {
    color: #2196f3
}

.success-dark {
    color: #27ad60
}

.info-dark {
    color: #a88f0b
}

.warning-dark {
    color: #cea70c
}

.danger-dark {
    color: #dc2d1b
}

.submit-dark {
    color: #285e8e
}

.success-bg {
    background: #2ecc71;
    color: #fff
}

.info-bg {
    background: #dbc034;
    color: #fff
}

.warning-bg {
    background: #f1c40f;
    color: #fff
}

.danger-bg {
    background: #e74c3c;
    color: #fff
}

.submit-bg {
    background: #2196f3;
    color: #fff
}

.success-dark-bg {
    background: #27ad60;
    color: #fff
}

.info-dark-bg {
    background: #a88f0b;
    color: #fff
}

.warning-dark-bg {
    background: #cea70c;
    color: #fff
}

.danger-dark-bg {
    background: #dc2d1b;
    color: #fff
}

.submit-dark-bg {
    background: #285e8e;
    color: #fff
}

#menu ul a,
body>header h1 a {
    background-image: none
}

.danger-bg a,
.danger-dark-bg a,
.info-bg a,
.info-dark-bg a,
.success-bg a,
.success-dark-bg a,
.warning-bg a,
.warning-dark-bg a {
    color: #fff;
    text-decoration: underline
}

#menu ul a:hover,
.subscribe,
mark {
    color: #000
}

h1,
h2 {
    font-weight: 200
}

pre code {
    margin-bottom: 0
}

table {
    font-size: 14px
}

table td,
table th {
    border: none;
    word-break: break-word
}

table td.vmiddle,
table th.vmiddle {
    vertical-align: middle
}

table td a,
table th a {
    cursor: pointer
}

table th {
    padding: 0 13px 5px
}

table td {
    padding: 5px 13px
}

table tbody tr:nth-child(odd) {
    background-color: #fcfcfc
}

table tbody tr td {
    margin: 0;
    vertical-align: top
}

table thead th {
    border: none;
    text-align: left
}

table.plain tbody tr {
    background-color: #fff
}

body>article,
body>section {
    margin: 0 auto
}

body>header {
    padding: 2em 0
}

body>footer p,
body>header h1,
body>header p,
body>nav p {
    text-align: center;
    width: 100%
}

body>header p {
    margin-bottom: 0
}

body article,
body article header {
    margin-bottom: 1.6em
}

body>section article h3 a {
    background-image: none;
    color: #000
}

body article {
    padding: 0 2em
}

body article header p {
    color: #999;
    margin-bottom: .4em
}

code.hljs span.hljs-tag {
    display: block;
    width: 100%
}

#menu {
    background: #eee;
    bottom: 0;
    left: -15.625em;
    position: fixed;
    top: 0;
    width: 15.625em;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease
}

#menu.is-open {
    -webkit-transform: translate(15.625em, 0);
    -moz-transform: translate(15.625em, 0);
    -ms-transform: translate(15.625em, 0);
    -o-transform: translate(15.625em, 0);
    transform: translate(15.625em, 0)
}

#menu span {
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 1px #fff, -5px -5px 1px #fff;
    -moz-box-shadow: 5px 5px 1px #fff, -5px -5px 1px #fff;
    box-shadow: 5px 5px 1px #fff, -5px -5px 1px #fff;
    background: #fff;
    border: 1px solid #aaa;
    color: #999;
    cursor: pointer;
    padding: 3px 8px;
    position: absolute;
    right: -67px;
    top: 15px
}

img,
legend {
    border: 0
}

table,
td,
th {
    border: 1px solid #ccc
}

#menu span:hover {
    border-color: #67A5D6;
    color: #67A5D6
}

#menu ul {
    margin: 1em 1.4em
}

#menu ul a {
    color: #666
}

.video_container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative
}

.video_container embed,
.video_container iframe,
.video_container object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.subscribe-btn,
hr,
sub,
sup {
    position: relative
}

@media screen and (min-width:650px) {
    body {
        font-size: 1em
    }
    body>article,
    body>section {
        width: 600px
    }
    #menu span {
        right: -72px
    }
}

@media screen and (min-width:985px) {
    body {
        font-size: 1.1em
    }
    body>article,
    body>section {
        width: 800px
    }
    #menu span {
        right: -76px
    }
}

@media screen and (min-width:1300px) {
    body {
        font-size: 1.25em
    }
    body>article,
    body>section {
        width: 960px
    }
    #menu span {
        right: -84px
    }
}

code,
tt {
    font-family: Inconsolata, monospace, sans-serif;
    font-size: .85em
}

.subscribe {
    margin-bottom: inherit
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background: 0 0;
    color: #0074d9;
    text-decoration: none
}

a:focus {
    outline: dotted thin
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border: none;
    margin: 1.5rem 0;
    border-bottom: 1px solid #ccc;
    top: -1px
}

mark {
    background: #ff0
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    padding: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,
input {
    line-height: normal
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 16px/1.5 Inconsolata, sans-serif
}

.cm,
.ge,
.hljs-emphasis,
.sd {
    font-style: italic
}

@media (min-width:30rem) {
    html {
        font-size: 20px
    }
}

body {
    margin: 0 0 0rem;
    color: #333
}

a:focus,
a:hover {
    text-decoration: underline
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .5rem -.1rem;
    line-height: 1;
    color: #111;
    text-rendering: optimizeLegibility
}

h2,
h3,
h4,
h5,
h6 {
    color: #444
}

h1 {
    font-size: 1.5rem;
    margin-bottom: .7rem
}

h1 a {
    color: inherit
}

h2 {
    margin-top: 2rem;
    margin-bottom: .75rem
}

@media (min-width:30rem) {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem
    }
    h2,
    .post-title--full {
        margin-top: 2.5rem;
        font-size: 1.8rem;
        margin-bottom: 1rem
    }
}

h3,
h4,
h5,
h6 {
    margin-top: 1.5rem
}

blockquote,
dl,
ol,
p,
pre,
table,
ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ol,
ul {
    padding-left: 1.5rem
}

dd {
    margin-left: 1.5rem
}

blockquote {
    margin-left: 2em;
    margin-right: 0;
    padding: .5rem 1rem;
    border-left: .25rem solid #ccc;
    color: #666
}

blockquote p:last-child {
    margin-bottom: 0
}

.container img {
    margin: 0 auto;
    display: block
}

td,
th {
    padding: .25rem .5rem
}

code,
pre {
    font-family: inherit
}

pre {
    font-size: .8rem
}

pre>code {
    padding: 0
}

.container {
    max-width: 30rem;
    margin: 0 auto;
    padding: 0 1rem
}

.hll {
    background-color: #ffc
}

.c {
    color: #999
}

.err {
    color: #A00;
    background-color: #faa
}

.k {
    color: #069
}

.o {
    color: #555
}

.cm {
    color: #09F
}

.cp {
    color: #099
}

.c1,
.cs {
    color: #999
}

.gd {
    background-color: #FCC;
    border: 1px solid #c00
}

.gr {
    color: red
}

.gh {
    color: #030
}

.gi {
    background-color: #CFC;
    border: 1px solid #0c0
}

.go {
    color: #aaa
}

.gp {
    color: #009
}

.gu {
    color: #030
}

.gt {
    color: #9c6
}

.kc,
.kd,
.kn,
.kp,
.kr {
    color: #069
}

.kt {
    color: #078
}

.m {
    color: #f60
}

.s {
    color: #d44950
}

.na {
    color: #4f9fcf
}

.nb {
    color: #366
}

.nc {
    color: #0A8
}

.no {
    color: #360
}

.nd {
    color: #99f
}

.ni {
    color: #999
}

.ne {
    color: #C00
}

.nf {
    color: #c0f
}

.nl {
    color: #99f
}

.nn {
    color: #0CF
}

.nt {
    color: #2f6f9f
}

.nv {
    color: #033
}

.ow {
    color: #000
}

.w {
    color: #bbb
}

.mf,
.mh,
.mi,
.mo {
    color: #f60
}

.sb,
.sc {
    color: #c30
}

.sd {
    color: #C30
}

.s2 {
    color: #c30
}

.se {
    color: #C30
}

.sh {
    color: #c30
}

.si {
    color: #a00
}

.sx {
    color: #c30
}

.sr {
    color: #3aa
}

.s1 {
    color: #c30
}

.ss {
    color: #fc3
}

.bp {
    color: #366
}

.vc,
.vg,
.vi {
    color: #033
}

.il {
    color: #f60
}

.comment-count,
.css .nt+.nt,
.css .o,
.css .o+.nt {
    color: #999
}

.header-text {
    color: #999;
    margin-left: 12px;
    text-align: center;
    margin-top: 12px
}

.subscribe-text {
    font-size: 1.2em
}

.gh-flow-content-wrap {
    width: 100%;
    margin: 0 auto
}

.subscribe-h3 {
    text-align: center;
    color: #0074d9
}

.subscribe-btn {
    margin: 25px -50px;
    top: 50%;
    left: 50%;
    font-size: 28px;
    font-weight: 400
}

h2 {
    font-size: 1.5rem
}

h3 {
    font-size: 1.2rem
}

h4 {
    font-size: 1.1rem
}

h5 {
    font-size: 1rem
}

h6 {
    font-size: .9rem
}

code,
tt {
    padding: .2rem 0 .1rem;
    border-radius: 2px;
    color: #e01616
}

body {
    font-size: 100%;
    line-height: 1.5
}

.anchor {
    color: #444
}

img[src$=centerme] {
    display: block;
    margin: 0 auto;
    min-width: 70%
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    background: #F0F0F0
}

.hljs,
.hljs-subst {
    color: #000
}

.hljs-comment {
    color: #888
}

.hljs-deletion,
.hljs-link,
.hljs-number,
.hljs-quote,
.hljs-regexp,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type,
.hljs-variable {
    color: #000
}

.hljs-literal {
    color: #78A960
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-meta {
    color: #000
}

.hljs-meta-string {
    color: #4d99bf
}

.hljs-strong {
    font-weight: 700
}

.bottom-text {
    color: #999;
    margin-left: 12px;
    text-align: center;
    margin-top: 12px
}

.jssocials-share-twitter .jssocials-share-link,.jssocials-share-twitter .jssocials-share-link,
.jssocials-share-twitter .jssocials-share-link .jssocials-share-label {
    color: #00aced
}

.jssocials-share-twitter .jssocials-share-link:active,
.jssocials-share-twitter .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-twitter .jssocials-share-link:focus,
.jssocials-share-twitter .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-twitter .jssocials-share-link:hover,
.jssocials-share-twitter .jssocials-share-link:hover .jssocials-share-label {
    color: #0087ba
}

.jssocials-share-facebook .jssocials-share-link,
.jssocials-share-facebook .jssocials-share-link .jssocials-share-label {
    color: #3b5998
}

.jssocials-share-facebook .jssocials-share-link:active,
.jssocials-share-facebook .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-facebook .jssocials-share-link:focus,
.jssocials-share-facebook .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-facebook .jssocials-share-link:hover,
.jssocials-share-facebook .jssocials-share-link:hover .jssocials-share-label {
    color: #2d4373
}

.jssocials-share-googleplus .jssocials-share-link,
.jssocials-share-googleplus .jssocials-share-link .jssocials-share-label {
    color: #dd4b39
}

.jssocials-share-googleplus .jssocials-share-link:active,
.jssocials-share-googleplus .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-googleplus .jssocials-share-link:focus,
.jssocials-share-googleplus .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-googleplus .jssocials-share-link:hover,
.jssocials-share-googleplus .jssocials-share-link:hover .jssocials-share-label {
    color: #c23321
}

.jssocials-share-linkedin .jssocials-share-link,
.jssocials-share-linkedin .jssocials-share-link .jssocials-share-label {
    color: #007bb6
}

.jssocials-share-linkedin .jssocials-share-link:active,
.jssocials-share-linkedin .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-linkedin .jssocials-share-link:focus,
.jssocials-share-linkedin .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-linkedin .jssocials-share-link:hover,
.jssocials-share-linkedin .jssocials-share-link:hover .jssocials-share-label {
    color: #005983
}

.jssocials-share-pinterest .jssocials-share-link,
.jssocials-share-pinterest .jssocials-share-link .jssocials-share-label {
    color: #cb2027
}

.jssocials-share-pinterest .jssocials-share-link:active,
.jssocials-share-pinterest .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-pinterest .jssocials-share-link:focus,
.jssocials-share-pinterest .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-pinterest .jssocials-share-link:hover,
.jssocials-share-pinterest .jssocials-share-link:hover .jssocials-share-label {
    color: #9f191f
}

.jssocials-share-email .jssocials-share-link,
.jssocials-share-email .jssocials-share-link .jssocials-share-label {
    color: #3490F3
}

.jssocials-share-email .jssocials-share-link:active,
.jssocials-share-email .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-email .jssocials-share-link:focus,
.jssocials-share-email .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-email .jssocials-share-link:hover,
.jssocials-share-email .jssocials-share-link:hover .jssocials-share-label {
    color: #0e76e6
}

.jssocials-share-stumbleupon .jssocials-share-link,
.jssocials-share-stumbleupon .jssocials-share-link .jssocials-share-label {
    color: #eb4823
}

.jssocials-share-stumbleupon .jssocials-share-link:active,
.jssocials-share-stumbleupon .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-stumbleupon .jssocials-share-link:focus,
.jssocials-share-stumbleupon .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-stumbleupon .jssocials-share-link:hover,
.jssocials-share-stumbleupon .jssocials-share-link:hover .jssocials-share-label {
    color: #c93412
}

.jssocials-share-whatsapp .jssocials-share-link,
.jssocials-share-whatsapp .jssocials-share-link .jssocials-share-label {
    color: #29a628
}

.jssocials-share-whatsapp .jssocials-share-link:active,
.jssocials-share-whatsapp .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-whatsapp .jssocials-share-link:focus,
.jssocials-share-whatsapp .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-whatsapp .jssocials-share-link:hover,
.jssocials-share-whatsapp .jssocials-share-link:hover .jssocials-share-label {
    color: #1f7d1e
}

.jssocials-share-telegram .jssocials-share-link,
.jssocials-share-telegram .jssocials-share-link .jssocials-share-label {
    color: #2ca5e0
}

.jssocials-share-telegram .jssocials-share-link:active,
.jssocials-share-telegram .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-telegram .jssocials-share-link:focus,
.jssocials-share-telegram .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-telegram .jssocials-share-link:hover,
.jssocials-share-telegram .jssocials-share-link:hover .jssocials-share-label {
    color: #1c88bd
}

.jssocials-share-line .jssocials-share-link,
.jssocials-share-line .jssocials-share-link .jssocials-share-label {
    color: #25af00
}

.jssocials-share-line .jssocials-share-link:active,
.jssocials-share-line .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-line .jssocials-share-link:focus,
.jssocials-share-line .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-line .jssocials-share-link:hover,
.jssocials-share-line .jssocials-share-link:hover .jssocials-share-label {
    color: #1a7c00
}

.jssocials-share-viber .jssocials-share-link,
.jssocials-share-viber .jssocials-share-link .jssocials-share-label {
    color: #7b519d
}

.jssocials-share-viber .jssocials-share-link:active,
.jssocials-share-viber .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-viber .jssocials-share-link:focus,
.jssocials-share-viber .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-viber .jssocials-share-link:hover,
.jssocials-share-viber .jssocials-share-link:hover .jssocials-share-label {
    color: #61407b
}

.jssocials-share-pocket .jssocials-share-link,
.jssocials-share-pocket .jssocials-share-link .jssocials-share-label {
    color: #ef4056
}

.jssocials-share-pocket .jssocials-share-link:active,
.jssocials-share-pocket .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-pocket .jssocials-share-link:focus,
.jssocials-share-pocket .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-pocket .jssocials-share-link:hover,
.jssocials-share-pocket .jssocials-share-link:hover .jssocials-share-label {
    color: #e9132e
}

.jssocials-share-messenger .jssocials-share-link,
.jssocials-share-messenger .jssocials-share-link .jssocials-share-label {
    color: #0084ff
}

.jssocials-share-messenger .jssocials-share-link:active,
.jssocials-share-messenger .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-messenger .jssocials-share-link:focus,
.jssocials-share-messenger .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-messenger .jssocials-share-link:hover,
.jssocials-share-messenger .jssocials-share-link:hover .jssocials-share-label {
    color: #006acc
}

.jssocials-share-vkontakte .jssocials-share-link,
.jssocials-share-vkontakte .jssocials-share-link .jssocials-share-label {
    color: #45668e
}

.jssocials-share-vkontakte .jssocials-share-link:active,
.jssocials-share-vkontakte .jssocials-share-link:active .jssocials-share-label,
.jssocials-share-vkontakte .jssocials-share-link:focus,
.jssocials-share-vkontakte .jssocials-share-link:focus .jssocials-share-label,
.jssocials-share-vkontakte .jssocials-share-link:hover,
.jssocials-share-vkontakte .jssocials-share-link:hover .jssocials-share-label {
    color: #344d6c
}

.jssocials-share-link {
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

.jssocials-share-label {
    font-size: .8em;
    color: #444;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

.jssocials-share-count-box {
    margin-left: .3em;
    border: 1px solid #efefef;
    border-radius: .3em
}

.jssocials-share-count-box .jssocials-share-count {
    line-height: 1.8em;
    font-size: .8em;
    color: #444
}

.jssocials-shares {
    margin: .2em 0
}

.jssocials-shares * {
    box-sizing: border-box
}

.jssocials-share {
    display: inline-block;
    vertical-align: top;
    margin: .3em .6em .3em 0
}

.jssocials-share:last-child {
    margin-right: 0
}

.jssocials-share-logo {
    width: 1em;
    vertical-align: middle;
    font-size: 1.5em
}

img.jssocials-share-logo {
    width: auto;
    height: 1em
}

.jssocials-share-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 1
}

.jssocials-share-link.jssocials-share-link-count {
    padding-top: .2em
}

.jssocials-share-link.jssocials-share-link-count .jssocials-share-count {
    display: block;
    font-size: .6em;
    margin: 0 -.5em -.8em
}

.jssocials-share-link.jssocials-share-no-count {
    padding-top: .5em
}

.jssocials-share-link.jssocials-share-no-count .jssocials-share-count {
    height: 1em
}

.jssocials-share-label {
    padding-left: .3em;
    vertical-align: middle
}

.jssocials-share-count-box {
    display: inline-block;
    height: 1.5em;
    padding: 0 .3em;
    line-height: 1;
    vertical-align: middle;
    cursor: default
}

.jssocials-share-count-box.jssocials-share-no-count {
    display: none
}

.jssocials-share-count {
    line-height: 1.5em;
    vertical-align: middle
}

#share {
    margin-bottom: 1rem;
}

.anchorjs-link {
  font-family: FontAwesome;
  color: #444;
  position: relative !important;
  font-size: 1.1em;
  margin-left: 0 !important;
  &:hover {
        text-decoration: none;
    }
}
