<section class="blog-info">

    {% if site.logo %}
        <a
            id="blog-logo"
            class="blog-logo"
            href="{{ '/' | relative_url }}">
            <img src="{{ site.logo | relative_url }}" alt="Blog Logo" />
        </a>
    {% endif %}

    <h1 class="blog-title">
        <a href="{{ '/' | relative_url }}"  alt="Blog Title">{{ site.title }}</a>
    </h1>

    <div class="blog-links">
        <a target="_blank" style="text-decoration: none;border:0px !important;" href="https://www.facebook.com/{{ site.facebook_username }}">
          <img class="social-link" src="{{ '/assets/images/social/fb.png' | relative_url }}">
        </a>

        <a target="_blank" style="text-decoration: none;border:0px !important;" href="https://github.com/{{ site.github_username }}">
          <img class="social-link" src="{{ '/assets/images/social/github.png' | relative_url }}">
        </a>

        <a target="_blank" style="text-decoration: none;border:0px !important;" href="http://stackoverflow.com/users/1446725/ivan-ursul?tab=profile">
          <img class="social-link" src="{{ '/assets/images/social/stackoverflow.png' | relative_url }}">
        </a>

        <a target="_blank" style="text-decoration: none;border:0px !important;" href="https://www.upwork.com/freelancers/~{{ site.upwork_id }}">
          <img class="social-link" src="{{ '/assets/images/social/upwork.png' | relative_url }}">
        </a>

        <a target="_blank" style="text-decoration: none;border:0px !important;" href="https://www.instagram.com/{{ site.instagram_username }}/">
          <img class="social-link" src="{{ '/assets/images/social/instagram.png' | relative_url }}">
        </a>

        <a target="_blank" style="text-decoration: none;border:0px !important;" href="https://www.linkedin.com/in/{{ site.linked_in_id }}">
          <img class="social-link" src="{{ '/assets/images/social/linkedin.png' | relative_url }}">
        </a>

        <a target="_blank" style="text-decoration: none;border:0px !important;" href="https://twitter.com/{{ site.twitter_username }}">
          <img class="social-link" src="{{ '/assets/images/social/twitter.png' | relative_url }}">
        </a>
    </div>

    <p class="blog-description">{{ site.me }}</p>

</section>
