<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-GB" }}">

  {% include head/article.html %}

  <body class="home-template">

    {% include header/nav.html %}
    
    {% include header/info.html %}

    <article class="row post">

        <header>
          <h2>{{ page.title }}</h2>
          <div id="share"></div>

          <p class="post-time">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <time datetime="{{ page.date | date: '%Y/%m/%d' }}">
              {{ page.date | date_to_string }}
            </time>
            &#160;
            <i class="fa fa-commenting" aria-hidden="true"></i>
            <a class="comment-count" href="/microservices-interaction-apache-kafka/#disqus_thread"
            data-disqus-identifier='ghost-https://ivanursul.com/microservices-interaction-apache-kafka/'>Comments</a>
            &#160;
          </p>

          {% include article_tags.html %}

      </header>

      {{ content }}

    </article>
    
    {% include footer.html %}    
    
    {% include scripts/article.html %}  

  </body>

</html>
